/* This CSS file will contain styles related to the home page layout, including the header and navigation bar. */

/* Reset any potential padding or margins on elements that could affect layout */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

.header {
    background-color: #f1f2f5;
    color: white;
    padding: 10px 0;
    margin: 0; /* Ensure header starts at the very top of the page */
}

.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    color : #535C91;
    
}
/* Style for dropdown menu */
.dropdown-content {
display: flex;
position: absolute;
background-color: #f9f9f9;
transform: translateY(50%);
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

.dropdown-content a {
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
}
  
.dropdown-content a:hover {background-color: #f1f1f1}
  
.logo {
    font-size: 24px;
    font-weight: bold;
    color : #535C91;
}

.sublogo {
    font-size: 24px;
    font-weight: bold;
    color : #e4ae09;
}

.search-box {
    flex-grow: 1;
    margin: 0 20px;
    color : #535C91;

}

input[type="search"] {
    width: 100%;
    padding: 10px;
    
}

.language-select {
    width: 100px;
}

.profile {
    display: flex;
    align-items: center;
}

.sell-button {
    background-color: #ffce32;
    border: none;
    padding: 10px 20px;
    margin-left: 20px;
    font-weight: bold;
    cursor: pointer;
}
.lgo img{
    width: 170px;
    height: 150px;
    transform: translate(7%,-37%);
    position: absolute;
}
.nav {
    background-color: #535C91;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.nav a {
    color: white;
    padding: 0 15px;
    text-decoration: none;
    font-size: 16px;

}

.nav a:hover{
    text-decoration: underline;
    text-decoration-color: #e4ae09;

}
